<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicDrugFactoryMapper">
    
    <resultMap type="EpidemicDrugFactory" id="EpidemicDrugFactoryResult">
        <result property="drugFactoryId"    column="drug_factory_id"    />
        <result property="factId"    column="fact_id"    />
        <result property="medicineId"    column="medicine_id"    />
    </resultMap>

    <sql id="selectEpidemicDrugFactoryVo">
        select drug_factory_id, fact_id, medicine_id from epidemic_drug_factory
    </sql>

    <select id="selectEpidemicDrugFactoryList" parameterType="EpidemicDrugFactory" resultMap="EpidemicDrugFactoryResult">
        <include refid="selectEpidemicDrugFactoryVo"/>
        <where>  
            <if test="factId != null "> and fact_id = #{factId}</if>
            <if test="medicineId != null "> and medicine_id = #{medicineId}</if>
        </where>
    </select>
    
    <select id="selectEpidemicDrugFactoryByDrugFactoryId" parameterType="Long" resultMap="EpidemicDrugFactoryResult">
        <include refid="selectEpidemicDrugFactoryVo"/>
        where drug_factory_id = #{drugFactoryId}
    </select>
        
    <insert id="insertEpidemicDrugFactory" parameterType="EpidemicDrugFactory" useGeneratedKeys="true" keyProperty="drugFactoryId">
        insert into epidemic_drug_factory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="factId != null">fact_id,</if>
            <if test="medicineId != null">medicine_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factId != null">#{factId},</if>
            <if test="medicineId != null">#{medicineId},</if>
         </trim>
    </insert>

    <update id="updateEpidemicDrugFactory" parameterType="EpidemicDrugFactory">
        update epidemic_drug_factory
        <trim prefix="SET" suffixOverrides=",">
            <if test="factId != null">fact_id = #{factId},</if>
            <if test="medicineId != null">medicine_id = #{medicineId},</if>
        </trim>
        where drug_factory_id = #{drugFactoryId}
    </update>

    <delete id="deleteEpidemicDrugFactoryByDrugFactoryId" parameterType="Long">
        delete from epidemic_drug_factory where drug_factory_id = #{drugFactoryId}
    </delete>

    <delete id="deleteEpidemicDrugFactoryByDrugFactoryIds" parameterType="String">
        delete from epidemic_drug_factory where drug_factory_id in 
        <foreach item="drugFactoryId" collection="array" open="(" separator="," close=")">
            #{drugFactoryId}
        </foreach>
    </delete>
</mapper>