<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicDrugIllnessMapper">
    
    <resultMap type="EpidemicDrugIllness" id="EpidemicDrugIllnessResult">
        <result property="drugId"    column="drug_id"    />
        <result property="illnessId"    column="illness_id"    />
    </resultMap>

    <sql id="selectEpidemicDrugIllnessVo">
        select drug_id, illness_id from epidemic_drug_illness
    </sql>

    <select id="selectEpidemicDrugIllnessList" parameterType="EpidemicDrugIllness" resultMap="EpidemicDrugIllnessResult">
        <include refid="selectEpidemicDrugIllnessVo"/>
        <where>  
            <if test="drugId != null "> and drug_id = #{drugId}</if>
            <if test="illnessId != null "> and illness_id = #{illnessId}</if>
        </where>
    </select>
    
    <select id="selectEpidemicDrugIllnessByDrugId" parameterType="Long" resultMap="EpidemicDrugIllnessResult">
        <include refid="selectEpidemicDrugIllnessVo"/>
        where drug_id = #{drugId}
    </select>
        
    <insert id="insertEpidemicDrugIllness" parameterType="EpidemicDrugIllness" useGeneratedKeys="true" keyProperty="drugId">
        insert into epidemic_drug_illness
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="illnessId != null">illness_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="illnessId != null">#{illnessId},</if>
         </trim>
    </insert>

    <update id="updateEpidemicDrugIllness" parameterType="EpidemicDrugIllness">
        update epidemic_drug_illness
        <trim prefix="SET" suffixOverrides=",">
            <if test="illnessId != null">illness_id = #{illnessId},</if>
        </trim>
        where drug_id = #{drugId}
    </update>

    <delete id="deleteEpidemicDrugIllnessByDrugId" parameterType="Long">
        delete from epidemic_drug_illness where drug_id = #{drugId}
    </delete>

    <delete id="deleteEpidemicDrugIllnessByDrugIds" parameterType="String">
        delete from epidemic_drug_illness where drug_id in 
        <foreach item="drugId" collection="array" open="(" separator="," close=")">
            #{drugId}
        </foreach>
    </delete>
</mapper>