<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicRegionMapper">
    
    <resultMap type="EpidemicRegion" id="EpidemicRegionResult">
        <result property="regionId"    column="region_id"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="street"    column="street"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEpidemicRegionVo">
        select region_id, province, city, district, street, is_delete, create_time, create_by, update_time, update_by, remark from epidemic_region
    </sql>

    <select id="selectEpidemicRegionList" parameterType="EpidemicRegion" resultMap="EpidemicRegionResult">
        <include refid="selectEpidemicRegionVo"/>
        <where>  
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="street != null  and street != ''"> and street = #{street}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectEpidemicRegionByRegionId" parameterType="Long" resultMap="EpidemicRegionResult">
        <include refid="selectEpidemicRegionVo"/>
        where region_id = #{regionId}
    </select>
        
    <insert id="insertEpidemicRegion" parameterType="EpidemicRegion" useGeneratedKeys="true" keyProperty="regionId">
        insert into epidemic_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="street != null and street != ''">street,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="street != null and street != ''">#{street},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEpidemicRegion" parameterType="EpidemicRegion">
        update epidemic_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="street != null and street != ''">street = #{street},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where region_id = #{regionId}
    </update>

    <delete id="deleteEpidemicRegionByRegionId" parameterType="Long">
        delete from epidemic_region where region_id = #{regionId}
    </delete>

    <delete id="deleteEpidemicRegionByRegionIds" parameterType="String">
        delete from epidemic_region where region_id in 
        <foreach item="regionId" collection="array" open="(" separator="," close=")">
            #{regionId}
        </foreach>
    </delete>
</mapper>