<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicDrugCompanyMapper">
    
    <resultMap type="EpidemicDrugCompany" id="EpidemicDrugCompanyResult">
        <result property="drugCompanyId"    column="drug_company_id"    />
        <result property="compId"    column="comp_id"    />
        <result property="medicineId"    column="medicine_id"    />
    </resultMap>

    <sql id="selectEpidemicDrugCompanyVo">
        select drug_company_id, comp_id, medicine_id from epidemic_drug_company
    </sql>

    <select id="selectEpidemicDrugCompanyList" parameterType="EpidemicDrugCompany" resultMap="EpidemicDrugCompanyResult">
        <include refid="selectEpidemicDrugCompanyVo"/>
        <where>  
            <if test="compId != null "> and comp_id = #{compId}</if>
            <if test="medicineId != null "> and medicine_id = #{medicineId}</if>
        </where>
    </select>
    
    <select id="selectEpidemicDrugCompanyByDrugCompanyId" parameterType="Long" resultMap="EpidemicDrugCompanyResult">
        <include refid="selectEpidemicDrugCompanyVo"/>
        where drug_company_id = #{drugCompanyId}
    </select>
        
    <insert id="insertEpidemicDrugCompany" parameterType="EpidemicDrugCompany" useGeneratedKeys="true" keyProperty="drugCompanyId">
        insert into epidemic_drug_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compId != null">comp_id,</if>
            <if test="medicineId != null">medicine_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compId != null">#{compId},</if>
            <if test="medicineId != null">#{medicineId},</if>
         </trim>
    </insert>

    <update id="updateEpidemicDrugCompany" parameterType="EpidemicDrugCompany">
        update epidemic_drug_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="medicineId != null">medicine_id = #{medicineId},</if>
        </trim>
        where drug_company_id = #{drugCompanyId}
    </update>

    <delete id="deleteEpidemicDrugCompanyByDrugCompanyId" parameterType="Long">
        delete from epidemic_drug_company where drug_company_id = #{drugCompanyId}
    </delete>

    <delete id="deleteEpidemicDrugCompanyByDrugCompanyIds" parameterType="String">
        delete from epidemic_drug_company where drug_company_id in 
        <foreach item="drugCompanyId" collection="array" open="(" separator="," close=")">
            #{drugCompanyId}
        </foreach>
    </delete>
</mapper>