<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicIllnessTransMapper">
    
    <resultMap type="EpidemicIllnessTrans" id="EpidemicIllnessTransResult">
        <result property="illnessTransId"    column="illness_trans_id"    />
        <result property="tranId"    column="tran_id"    />
        <result property="infectId"    column="infect_id"    />
    </resultMap>

    <sql id="selectEpidemicIllnessTransVo">
        select illness_trans_id, tran_id, infect_id from epidemic_illness_trans
    </sql>

    <select id="selectEpidemicIllnessTransList" parameterType="EpidemicIllnessTrans" resultMap="EpidemicIllnessTransResult">
        <include refid="selectEpidemicIllnessTransVo"/>
        <where>  
            <if test="tranId != null "> and tran_id = #{tranId}</if>
            <if test="infectId != null "> and infect_id = #{infectId}</if>
        </where>
    </select>
    
    <select id="selectEpidemicIllnessTransByIllnessTransId" parameterType="Long" resultMap="EpidemicIllnessTransResult">
        <include refid="selectEpidemicIllnessTransVo"/>
        where illness_trans_id = #{illnessTransId}
    </select>
        
    <insert id="insertEpidemicIllnessTrans" parameterType="EpidemicIllnessTrans">
        insert into epidemic_illness_trans
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="illnessTransId != null">illness_trans_id,</if>
            <if test="tranId != null">tran_id,</if>
            <if test="infectId != null">infect_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="illnessTransId != null">#{illnessTransId},</if>
            <if test="tranId != null">#{tranId},</if>
            <if test="infectId != null">#{infectId},</if>
         </trim>
    </insert>

    <update id="updateEpidemicIllnessTrans" parameterType="EpidemicIllnessTrans">
        update epidemic_illness_trans
        <trim prefix="SET" suffixOverrides=",">
            <if test="tranId != null">tran_id = #{tranId},</if>
            <if test="infectId != null">infect_id = #{infectId},</if>
        </trim>
        where illness_trans_id = #{illnessTransId}
    </update>

    <delete id="deleteEpidemicIllnessTransByIllnessTransId" parameterType="Long">
        delete from epidemic_illness_trans where illness_trans_id = #{illnessTransId}
    </delete>

    <delete id="deleteEpidemicIllnessTransByIllnessTransIds" parameterType="String">
        delete from epidemic_illness_trans where illness_trans_id in 
        <foreach item="illnessTransId" collection="array" open="(" separator="," close=")">
            #{illnessTransId}
        </foreach>
    </delete>
</mapper>