<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicSequelaeMapper">
    
    <resultMap type="EpidemicSequelae" id="EpidemicSequelaeResult">
        <result property="illnessSeqId"    column="illness_seq_id"    />
        <result property="seqId"    column="seq_id"    />
        <result property="infectId"    column="infect_id"    />
    </resultMap>

    <sql id="selectEpidemicSequelaeVo">
        select illness_seq_id, seq_id, infect_id from epidemic_sequelae
    </sql>

    <select id="selectEpidemicSequelaeList" parameterType="EpidemicSequelae" resultMap="EpidemicSequelaeResult">
        <include refid="selectEpidemicSequelaeVo"/>
        <where>  
            <if test="seqId != null "> and seq_id = #{seqId}</if>
            <if test="infectId != null "> and infect_id = #{infectId}</if>
        </where>
    </select>
    
    <select id="selectEpidemicSequelaeByIllnessSeqId" parameterType="Long" resultMap="EpidemicSequelaeResult">
        <include refid="selectEpidemicSequelaeVo"/>
        where illness_seq_id = #{illnessSeqId}
    </select>
        
    <insert id="insertEpidemicSequelae" parameterType="EpidemicSequelae" useGeneratedKeys="true" keyProperty="illnessSeqId">
        insert into epidemic_sequelae
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seqId != null">seq_id,</if>
            <if test="infectId != null">infect_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seqId != null">#{seqId},</if>
            <if test="infectId != null">#{infectId},</if>
         </trim>
    </insert>

    <update id="updateEpidemicSequelae" parameterType="EpidemicSequelae">
        update epidemic_sequelae
        <trim prefix="SET" suffixOverrides=",">
            <if test="seqId != null">seq_id = #{seqId},</if>
            <if test="infectId != null">infect_id = #{infectId},</if>
        </trim>
        where illness_seq_id = #{illnessSeqId}
    </update>

    <delete id="deleteEpidemicSequelaeByIllnessSeqId" parameterType="Long">
        delete from epidemic_sequelae where illness_seq_id = #{illnessSeqId}
    </delete>

    <delete id="deleteEpidemicSequelaeByIllnessSeqIds" parameterType="String">
        delete from epidemic_sequelae where illness_seq_id in 
        <foreach item="illnessSeqId" collection="array" open="(" separator="," close=")">
            #{illnessSeqId}
        </foreach>
    </delete>
</mapper>