<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.illness.mapper.EpidemicCategoryMapper">
    
    <resultMap type="EpidemicCategory" id="EpidemicCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEpidemicCategoryVo">
        select category_id, parent_id, category_name, is_delete, create_by, create_time, update_by, update_time, remark from epidemic_category
    </sql>

    <select id="selectEpidemicCategoryList" parameterType="EpidemicCategory" resultMap="EpidemicCategoryResult">
        <include refid="selectEpidemicCategoryVo"/>
        <where>  
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectEpidemicCategoryByCategoryId" parameterType="Long" resultMap="EpidemicCategoryResult">
        <include refid="selectEpidemicCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertEpidemicCategory" parameterType="EpidemicCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into epidemic_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEpidemicCategory" parameterType="EpidemicCategory">
        update epidemic_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteEpidemicCategoryByCategoryId" parameterType="Long">
        delete from epidemic_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteEpidemicCategoryByCategoryIds" parameterType="String">
        delete from epidemic_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>