<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.cases.mapper.EpidemicPatientHistoryMapper">
    
    <resultMap type="EpidemicPatientHistory" id="EpidemicPatientHistoryResult">
        <result property="patientHistoryId"    column="patient_history_id"    />
        <result property="patId"    column="pat_id"    />
        <result property="diseaseId"    column="disease_id"    />
    </resultMap>

    <sql id="selectEpidemicPatientHistoryVo">
        select patient_history_id, pat_id, disease_id from epidemic_patient_history
    </sql>

    <select id="selectEpidemicPatientHistoryList" parameterType="EpidemicPatientHistory" resultMap="EpidemicPatientHistoryResult">
        <include refid="selectEpidemicPatientHistoryVo"/>
        <where>  
            <if test="patId != null "> and pat_id = #{patId}</if>
            <if test="diseaseId != null "> and disease_id = #{diseaseId}</if>
        </where>
    </select>
    
    <select id="selectEpidemicPatientHistoryByPatientHistoryId" parameterType="Long" resultMap="EpidemicPatientHistoryResult">
        <include refid="selectEpidemicPatientHistoryVo"/>
        where patient_history_id = #{patientHistoryId}
    </select>
        
    <insert id="insertEpidemicPatientHistory" parameterType="EpidemicPatientHistory" useGeneratedKeys="true" keyProperty="patientHistoryId">
        insert into epidemic_patient_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patId != null">pat_id,</if>
            <if test="diseaseId != null">disease_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patId != null">#{patId},</if>
            <if test="diseaseId != null">#{diseaseId},</if>
         </trim>
    </insert>

    <update id="updateEpidemicPatientHistory" parameterType="EpidemicPatientHistory">
        update epidemic_patient_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="patId != null">pat_id = #{patId},</if>
            <if test="diseaseId != null">disease_id = #{diseaseId},</if>
        </trim>
        where patient_history_id = #{patientHistoryId}
    </update>

    <delete id="deleteEpidemicPatientHistoryByPatientHistoryId" parameterType="Long">
        delete from epidemic_patient_history where patient_history_id = #{patientHistoryId}
    </delete>

    <delete id="deleteEpidemicPatientHistoryByPatientHistoryIds" parameterType="String">
        delete from epidemic_patient_history where patient_history_id in 
        <foreach item="patientHistoryId" collection="array" open="(" separator="," close=")">
            #{patientHistoryId}
        </foreach>
    </delete>
</mapper>