<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.cases.mapper.EpidemicAnalysisMapper">

    <resultMap type="EpidemicCase" id="EpidemicCaseResult">
        <result property="caseId"    column="case_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="illnessId"    column="illness_id"    />
        <result property="infectedRegionId"    column="infected_region_id"    />
        <result property="infectedAddress"    column="infected_address"    />
        <result property="isCure"    column="is_cure"    />
        <result property="isHosp"    column="is_hosp"    />
        <result property="isDie"    column="is_die"    />
        <result property="infectTime"    column="infect_time"    />
        <result property="cureTime"    column="cure_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>


    <select id="getCaseListByIllnessName" parameterType="java.lang.String" resultMap="EpidemicCaseResult">
        SELECT * FROM `epidemic_case` WHERE `illness_id`=(
	        SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
        )
    </select>

	<select id="getDeathRate" parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.DeathRateVo">
		SELECT COUNT(*) AS all_number,
		COUNT(IF(`is_die`=1,1,NULL))AS death_number
		FROM `epidemic_case` 
		WHERE `illness_id`=(
			SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
		)
    </select>

	<select id="getRegionInfo" parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.RegionPatientCountVo">
		SELECT infected_region_id AS region_id , COUNT(*) AS 'count'
		FROM `epidemic_case` 
		WHERE `illness_id`=(
			SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
		)
		GROUP BY infected_region_id
		ORDER BY region_id
	</select>

	<select id="getDiffTime" parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.DiffTimeVo">
		SELECT DATEDIFF(cure_time,infect_time) AS diff_time,COUNT(*) AS cure_count
		FROM `epidemic_case` 
		WHERE `illness_id`=(
			SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
		) AND is_cure = 1
		GROUP BY diff_time
		ORDER BY diff_time
	</select>

	<select id="getPatientInfo" parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.PatientDataVo">
		SELECT height,weight,fat,patient_age AS age
		FROM `epidemic_patient` 
		WHERE patient_id IN (
			SELECT patient_id 
			FROM `epidemic_case`
			WHERE illness_id=(
				SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
			)
		)
	</select>

	<select id="getDrug" parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.DrugVo">
		SELECT drug_id,drug_name,factory.factory_name,company.company_name
		FROM `epidemic_drug` AS drug ,`epidemic_factory` AS factory,`epidemic_company` AS company
		WHERE drug.drug_id IN (
			SELECT drug_id 
			FROM `epidemic_drug_illness`
			WHERE disease_id=(
				SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
			)
		) AND factory_id = (
			SELECT fact_id
			FROM `epidemic_drug_factory`
			WHERE medicine_id = (
				SELECT drug_id 
				FROM `epidemic_drug_illness`
				WHERE disease_id=(
					SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
				)
			)
		) AND company_id =(
			SELECT comp_id
			FROM `epidemic_drug_company`
			WHERE medicine_id = (
				SELECT drug_id 
				FROM `epidemic_drug_illness`
				WHERE disease_id=(
					SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
				)
			)
		)
	</select>

	<select id="getPatHistory"  parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.PatHistoryVo">
		SELECT illness_id,illness_name
		FROM `epidemic_illness`
		WHERE illness_id IN (
			SELECT disease_id
			FROM `epidemic_patient_history`
			WHERE pat_id = (
				SELECT `patient_id` FROM `epidemic_patient` WHERE `patient_name`=#{patient_name}
			)
		)
	</select>


	<select id="getSeqComp" parameterType="java.lang.String" resultType="zstu.epidemic.cases.vo.SeqCompVo">
		SELECT illness_id,illness_name
		FROM `epidemic_illness`
		WHERE illness_id IN (
			SELECT comp_id
			FROM `epidemic_complication`
			WHERE infectious_id IN (
				SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
			)
		) OR illness_id IN (
			SELECT seq_id
			FROM `epidemic_sequelae`
			WHERE infect_id IN (
				SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
			)
		)
	</select>
</mapper>
