<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zstu.epidemic.cases.mapper.EpidemicAnalysisMapper">

    <resultMap type="EpidemicCase" id="EpidemicCaseResult">
        <result property="caseId"    column="case_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="illnessId"    column="illness_id"    />
        <result property="infectedRegionId"    column="infected_region_id"    />
        <result property="infectedAddress"    column="infected_address"    />
        <result property="isCure"    column="is_cure"    />
        <result property="isHosp"    column="is_hosp"    />
        <result property="isDie"    column="is_die"    />
        <result property="infectTime"    column="infect_time"    />
        <result property="cureTime"    column="cure_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>




    <select id="getCaseListByIllnessName" parameterType="java.lang.String" resultMap="EpidemicCaseResult">
        SELECT * FROM `epidemic_case` WHERE `illness_id`=(
	        SELECT `illness_id` FROM `epidemic_illness` WHERE `illness_name`=#{illness_name}
        )
    </select>




</mapper>
